/* header */
body{
    height: 100vh; /* Thiết lập chiều cao của body là 100% chiều cao của viewport */
    overflow: hidden
}
header{
    background-color: #4F4F4F;
    color: white;
}
img{
    height: 60px !important;
}

/* sidebar */
.sidebar {
    height: 100vh; /* Đặt chiều cao của sidebar là 100% chiều cao của viewport */
    width: 250px;
    background-color: #333333;
    color: #b4b4b4;
    overflow-y: auto; /* Thêm thanh cuộn nếu nội dung vượt quá kích thước của sidebar */
    overflow-x: hidden;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li {
    /* border-bottom: 1px solid #4e555b; */
    position: relative;
}
.sidebar ul li a {
    color: #b4b4b4;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    position: relative;
}
.sidebar ul li .fa-angle-right {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}
.sidebar ul li.active .fa-angle-right {
    transform: translateY(-50%) rotate(90deg);
}
.sidebar ul li ul {
    display: none;
    position: relative;
}
.sidebar ul li ul.show {
    display: block;
}
.sidebar ul li ul li {
    border-bottom: none;
}
.sidebar ul li .rotate {
    transform: translateY(-50%) rotate(90deg);
}
