h1 {
    text-align: center;
}

.frame {
    border: solid 1px black;
    width: 100%;
    height: fit-content;
    /* margin-left: 5rem; */
    border-radius: 2rem;
}

.sp {
    cursor: pointer;
}

.minus,
.plus {
    width: 2rem;
    background: #f2f2f2;
    border-radius: 4px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#count {
    width: 8rem;
    text-align: center;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}
