.login_banner {
    height: 100vh;
    overflow: hidden;
}

.shape_1 {
    width: 90%;
    height: 130vh;
    background: linear-gradient(90deg, #FFE259 0%, #FFA751 100%);
    border-radius: 50%;
    transform: translateY(-10%);
}

.shape_2 {
    width: 85%;
    height: 130vh;
    background: linear-gradient(90deg, #FFE259 0%, #ffb553 100%);
    border-radius: 20%;
    transform: translateX(-10%);
}

.login_logo {
    padding-top: 20%;
    padding-left: 15%;
    height: 60%;
}

.login_title {
    padding-left: 20%;
    width: 90%;
    color: #4F4F4F;
    font-size: 32px;
    font-family: Roboto;
    font-weight: 700;
    word-wrap: break-word
}

.login_back {
    padding-top: 9%;
    padding-left: 20%;
    width: 90%;
}

.login_back img {
    transform: translateY(-25%);
}

.login_back a {
    color: #4F4F4F;
    font-size: 26px;
    font-family: Roboto;
    font-weight: 700;
    word-wrap: break-word
}

.login_background {
    height: 100vh;
    overflow: hidden;
}

.login_background_1 {
    width: 100vh;
    height: 100vh;
    position: relative
}

.login_form {
    margin-top: 12.5%;
    width: 70%;
    height: 75%;
    left: 0px;
    top: 0px;
    position: absolute;
    background: linear-gradient(90deg, #FFE259 0%, #FFA751 100%);
    border-radius: 20px
}

.login_name {
    padding-left: 10px;
    color: #828282;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 700;
    position: absolute;
    top: 15%;
    transform: translateX(18%);
}

.login_pass {
    padding-left: 10px;
    color: #828282;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 700;
    position: absolute;
    top: 30%;
    transform: translateX(18%);
}

.login_button {
    position: absolute;
    top: 50%;
    transform: translateX(75%);
    width: 40%;
    color: #333333;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 700;
    border-radius: 1.5rem
}

.login_question {
    position: absolute;
    top: 70%;
    transform: translateX(50%);
    color: black;
    font-size: 30px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    text-decoration: underline;
}

.login_another_choose {
    position: absolute;
    top: 75%;
    transform: translateX(20%);
}

.login_another_choose span {
    color: black;
    font-size: 30px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    word-wrap: break-word
}

.login_another_choose a {
    color: #333333;
    font-size: 30px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
    word-wrap: break-word
}
